* {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 0 50px;
  max-width: 1200px;
  font-size: 1.25em;
  margin: auto;
}

.btn {
  height: 75px;
  width: 250px;
  display: inline-block;
  background-color: white;
  margin-top: 30px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition-duration: 0.15s;
}

.btn:hover {
  height: 65px;
  width: 240px;
}

.btn:hover img {
  transform: scale(1.2) rotate(20deg);
}

.btn-img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 4px;
  right: 15px;
  transition-duration: 0.5s;
}

.btn-span {
  position: relative;
  bottom: 6px;
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  left: 1200px;
  height: 50px;
  width: 50px;
  background-color: #ffd05a;
}

.back-to-top img {
  height: 30px;
  width: 30px;
  position: relative;
  left: 9.5px;
  top: 9.5px;
}

/* -------------- HEADER -------------- */
.site-header,
.site-footer {
  background-color: #40596b;
}

.main-nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-nav a {
  text-align: center;
  padding: 25px 16px;
  font-family: sans-serif;
  color: #ffd05a;
  text-decoration: none;
}

.main-nav a:hover {
  color: white;
  transition: 0.4s;
}

/* -------------- HERO -------------- */
#home {
  padding: 140px 0;
  background-color: #55c0ec;
}

.hero-description {
  text-align: center;
  margin-right: 130px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 130px;
}

.hero-description h1 {
  font-size: 3.2em;
  padding-bottom: 20px;
  font-weight: normal;
  color: #1e4352;
}

.slogen {
  font-size: 1.3em;
  color: white;
}

/* -------------- ABOUT -------------- */
.page-about {
  background-color: #fafafa;
  padding: 50px 0;
  color: #000000bf;
}

.title {
  text-align: center;
  font-size: 1.9em;
  font-weight: normal;
}

.hr {
  width: 150px;
  border: 1.5px #55c0ec solid;
  margin: -2px auto 50px auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.description-left {
  box-flex: 1;
  flex: 1 0 calc(50% - 2rem);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 2rem);
  padding: 0 20px 0 0;
}

.description-right {
  box-flex: 1;
  flex: 1 0 calc(50% - 2rem);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 2rem);
}

.description-full {
  margin: 40px 0 20px 0;
  flex: 0 1 calc(120% - 2em);
  flex-grow: 0;
  flex-shrink: 1;
}

/* -------------- FEATURES -------------- */
.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-features {
  color: #000000bf;
  background-color: #90ddaa;
  padding: 60px 0;
}

.page-features h3 {
  font-size: 2.5em;

}

.features-card {
  width: 350px;
  display: inline-block;
  margin: 30px 17px;
  text-align: center;
}

.card-img {
  background-color: #40596b;
  width: 65%;
  height: 350px;
}

.img-card {
  width: 350px;
  background-color: #40596b;
}

.card-description {
  background-color: #fafafa;
  padding: 17px;
  line-height: 1.4em;
  font-size: 1.07em;
  color: #000000bf;
}

.card-description code {
  color: rgb(190, 51, 51);
  background-color: rgb(224, 219, 219);
}

/* -------------- CTA -------------- */

.container-narrow {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  color: #000000bf;
}

.description-full {
  max-width: 600px;
  margin: 47px auto 0 auto;
}

.btn-dark {
  background-color: #40596b;
  color: white;
  margin: 60px 0;
}

/* -------------- FOOTER -------------- */
.site-footer {
  padding: 20px 0;
  text-align: center;
  font-size: 0.7em;
  line-height: 2.2em;
  color: white;
}

.site-footer a {
  color: white;
}


@media all and (max-width: 500px) {
  .main-nav {
    flex-flow: column wrap;
  }

  .main-nav a {
    border-bottom: 0.5px solid #537085;
  }
}

@media all and (max-width: 800px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-description {
    margin-bottom: 80px;
    margin-left: 120px;

  }
}