* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 50px;
  max-width: 1200px;
  font-size: 1.25em;
}

.btn {
  padding: 8px 26px;
  display: inline-block;
  background-color: white;
  margin-top: 30px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.btn-img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 4px;
  padding: 0;

}

.btn-span {
  position: relative;
  bottom: 6px;
}

/* -------------- HEADER -------------- */
.site-header,
.site-footer {
  background-color: #40596b;
}

.main-nav {
  line-height: 3.5em;
  text-align: center;
}

.main-nav a {
  text-align: center;
  padding: 10px 16px;
  font-family: sans-serif;
  color: #ffd05a;
  text-decoration: none;
}

.main-nav a:hover {
  color: white;
  transition: 0.4s;
}

/* -------------- HERO -------------- */
#home {
  padding: 140px 0;
  background-color: #55c0ec;
}

.hero-description {
  width: 45%;
  float: left;
  text-align: center;
  margin-right: 130px;
  position: relative;
  top: 70px;
}

.hero-description h1 {
  font-size: 3.2em;
  padding-bottom: 20px;
  font-weight: normal;
  color: #1e4352;
}

.slogen {
  font-size: 1.3em;
  color: white;
}

/* -------------- ABOUT -------------- */
.page-about {
  background-color: #fafafa;
  padding: 50px 0;
  color: #000000bf;
}

.about-title {
  text-align: center;
  font-size: 1.9em;
  font-weight: normal;
}

.about-hr {
  width: 190px;
  border: 1.5px #55c0ec solid;
  margin: -2px auto 30px auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.description-left {
  box-flex: 1;
  flex: 1 0 calc(50% - 2rem);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 2rem);
  /* border: 1px black solid; */
}

.description-right {
  box-flex: 1;
  flex: 1 0 calc(50% - 2rem);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 2rem);

  /* border: 1px black solid; */
}

.description-full {
  margin: 40px 0 20px 0;
  flex: 0 1 calc(120% - 2em);
  flex-grow: 0;
  flex-shrink: 1;
}